# VLESS + Reality connection settings

VPN_SERVER="vpn.example.com"
VPN_PORT="443"

VLESS_UUID="00000000-0000-0000-0000-000000000000"
VLESS_FLOW=""

TRANSPORT_NETWORK="raw"
TRANSPORT_HEADER_TYPE="http"
TRANSPORT_PATH="/"

REALITY_SERVER_NAME="www.example.com"
REALITY_FINGERPRINT="chrome"
REALITY_PUBLIC_KEY="PUBLIC_KEY"
REALITY_SHORT_ID="SHORT_ID"
REALITY_SPIDER_X="/"
